# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Next.js
.next/
out/
.vercel/

# Env
.env
.env*.local

# Prisma
/generated/prisma

# OS
.DS_Store
Thumbs.db

# Project
.agents/
.opencode/
openspec/
